@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(21,29,54);
    background: linear-gradient(340deg, rgba(21,29,54,1) 0%, rgba(111,109,140,1) 30%, rgba(173,105,124,1) 50%, rgba(191,126,103,1) 76%, rgba(136,80,67,1) 100%);
    color: #c1c1c1;
}

.navItem  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.albumCover {
    width:100%;
    aspect-ratio: 1/1;
    background-color: lightgray;
    position: relative;
}

.albumCover:hover {
    border: lightgray 2px solid;
}

.blogCard {
    width:100%;
    aspect-ratio: 1/1;
    background-color: tan;
    position: relative;
}

.musicPlayerBar {
    background-color: rgba(211, 211, 211, 0.6);
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.coming {
    font-family: 'Silkscreen', sans-serif;
}